<div class="card contact11"  >
  <img class="card-img-top" style="width: 20%;" src="img/logomira.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" id="contactoh5"> Contacto </h5>
    <p class="card-text">construccion.construmilenio@gmail.com</p>
    <p class="card-text">+57  302-566-86-04</p>
    <h5 class="card-title" id="contactoh6">HORARIO </h5>
    <p class="card-text">LUNES - VIERNES  8:00am - 17:00hrs</p>
    <p class="card-text">SÁBADOS 09:00am - 15:00hrs</p>

    <div class="boton-Saber">
      <a href="#" class="btn btn-primary bton-contactom" >saber más</a>
    </div>
  </div>
  </div>
</div>